<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.My.MySettings.MATEConnectionString"
            connectionString="Data Source=10.4.11.85\SQLEXPRESS;Initial Catalog=MATE;Persist Security Info=True;User ID=usuario_MATE;Password=mate2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
